<app-header title="News" [isMainScreen]="false"></app-header>

<ion-content>
  <ion-card>
    <img *ngIf="news.image && !news.imagePreview" [src]="news.image"/>
    <img *ngIf="!news.image || news.imagePreview" [src]="news.imagePreview"/>
    <ion-card-content>
      <div class="blurred"></div>
      <ion-card-title>
        {{ news.newsTitle }}
      </ion-card-title>
      <div class="d-flex justify-content-between">
        <p class="pt-2">
          <ion-icon name="calendar"></ion-icon>
          <strong> Added at: </strong>
          {{ news.createdAt | date: 'dd-MM-YYYY' }}
        </p>
        <p class="pt-2">
          <ion-icon name="eye-outline"></ion-icon>
          {{ news.views }}
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="pt-2">
          <ion-icon name="pencil-outline"></ion-icon>
          <strong> Created by: </strong>
          {{ news.user.nickname }}
        </p>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="textarea">
    <hr>
    <div>
      {{ news.newsContent }}
    </div>
    <hr>
  </div>
  <div>
    <div class="d-flex justify-content-between">
      <p class="p-2 ps-4">
        <ion-icon name="heart-outline"></ion-icon>
        {{ news.likes }}
      </p>
      <ion-buttons class="d-flex justify-content-end align-items-center">
        <div class="round-buttons d-flex flex-row gap-2">
          <ion-button [class.red]="isLiked()" (click)="onLike()" class="mb-2 round">
            <ion-icon name="heart-outline" style="font-size: 32px"></ion-icon>
          </ion-button>
          <ion-button (click)="onMessage()" class="round">
            <ion-icon name="paper-plane-outline" style="font-size: 32px"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </div>
  </div>
  <ion-buttons class="d-flex justify-content-between bottom-0">
    <ion-button (click)="onEdit()">EDIT</ion-button>
    <div class="d-flex flex-column gap-2">
      <ion-button class="red" (click)="onDelete()">DELETE</ion-button>
    </div>
  </ion-buttons>
</ion-content>
