ion-content {
  font-family: 'IBM Plex Mono' !important;
  --background: url(../../assets/images/dice-back.svg) rgba(28, 28, 28) 105% 105% no-repeat;
  --color: white;
}

.rent-rect {
  background: rgb(10 10 10 / 92%);
  filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: -1;
}

hr {
  border: 1px solid white;
  margin-top: 6px;
}

.rent-to {
  font-size: 14px;
}

.image-preview {
  width: 140px;
  height: 135px;
  box-shadow: rgba(13, 13, 13, 0.82);
  border-radius: 6px;
  object-fit: cover;
}

.rent {
  background-color: #161616;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(13, 13, 13, 0.82);
}

h5 {
  text-align: left;
  font-size: 15px;
  padding-right: 35px;
}

.text {
  font-size: 9px;
  font-weight: normal;
}

.status {
  font-size: 12px;
}

.status-state {
  background-color: #04F06A;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 2px 10px;
  margin-right: 0;
}

ion-buttons {
  margin: 5px 20px;
  align-items: end;
  ion-button {
    font-family: 'IBM Plex Mono' !important;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: #363636;
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.25));
    font-weight: bold;
  }
}

.red {
  background-color: #E31C25 !important;
}

.game-title {
  background-color: #161616;
  font-family: 'IBM Plex Mono' !important;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: white;
}
ion-icon {
  font-size: 24px;
}

.main-modal {
  background-color: #656565;
  margin: 0 20px;
}

.user {
  font-family: 'IBM Plex Mono' !important;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #111111;
  border: 1px solid #111111;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

.avatar {
  width: 52px;
  height: 52px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.status {
  font-size: 12px;
}

.status-state-success {
  background-color: #04F06A;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 15px;
}

.status-state-failed {
  background-color: #721014;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 15px;
}

.status-state-await {
  background-color: #cbd03f;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 15px;
}
