<app-header title="Edit news" [isMainScreen]="false"></app-header>

<ion-content>
  <ion-card>
    <img *ngIf="imagePreview" src="{{ imagePreview }}">
    <img *ngIf="!imagePreview && image" src="{{ image }}"/>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="pencil-outline"></ion-icon>
        Name
      </ion-label>
      <ion-input [(ngModel)]="newsTitle" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="create-outline"></ion-icon>
        Description
      </ion-label>
      <ion-textarea [(ngModel)]="newsContent" placeholder="Add description to game"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="d-flex flex-column align-items-center">
    <label class="custom-file-upload mt-2 ps-2 pe-2 w-75">
      <input id="image" type="file" (change)="onFileChange($event)"/>
      UPLOAD IMAGE
    </label>
  </div>
  <ion-buttons class="d-flex justify-content-between bottom-0 pt-3 mt-3">
    <ion-button (click)="onBack()">
      CANCEL
    </ion-button>
    <ion-button class="red" (click)="submitForm()">
      EDIT
    </ion-button>
  </ion-buttons>
</ion-content>
