ion-content {
  font-family: 'IBM Plex Mono' !important;
  --background: url(../../assets/images/dice-back.svg) rgba(28, 28, 28) 105% 105% no-repeat;
  --color: white;
}

ion-buttons {
  margin: 5px 10px;
  align-items: center;
  ion-button {
    font-family: 'IBM Plex Mono' !important;
    border-radius: 5px;
    padding: 8px;
    width: 80%;
    background-color: #363636;
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.25));
    font-weight: normal;
  }
}

.red {
  background-color: #E31C25 !important;
}

.avatar {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-fit: cover;
}

