<app-header title="Settings" [isMainScreen]="false"></app-header>
<ion-content>
<div class="setting-block">
  <h5 style="font-size: 16px" class="p-2">Notifications and Sound</h5>
  <div class="d-flex flex-column p-1 ps-3">
    <div class="d-flex align-items-center justify-content-between" style="font-size: 12px">
      <div>
        Private chats
      </div>
      <ion-toggle></ion-toggle>
    </div>
  </div>
  <div class="d-flex flex-column p-1 ps-3">
    <div class="d-flex align-items-center justify-content-between" style="font-size: 12px">
      <div>
        Groups
      </div>
      <ion-toggle></ion-toggle>
    </div>
  </div>
  <div class="d-flex flex-column p-1 ps-3">
    <div class="d-flex align-items-center justify-content-between" style="font-size: 12px">
      <div>
        Vibrations
      </div>
      <ion-toggle></ion-toggle>
    </div>
  </div>
</div>
  <div class="setting-block mt-2">
    <h5 style="font-size: 16px" class="p-2">Security</h5>
    <div class="d-flex flex-column p-1 ps-3">
      <div class="d-flex align-items-center justify-content-between pt-1 pb-1 pe-2" style="font-size: 12px">
        <div>
          Who can watch my profile:
        </div>
        <div>
          All
        </div>
      </div>
    </div>
    <div class="d-flex flex-column p-1 ps-3">
      <div class="d-flex align-items-center justify-content-between pt-1 pb-1 pe-2" style="font-size: 12px">
        <div>
          Who can watch description:
        </div>
        <div>
          Part
        </div>
      </div>
    </div>
  </div>
  <div class="setting-block mt-2">
    <h5 style="font-size: 16px" class="p-2">Security</h5>
    <div class="d-flex flex-column p-1 ps-3">
      <div class="d-flex align-items-center justify-content-between pt-1 pb-1 pe-2" style="font-size: 12px">
        <div>
          <ion-icon name="help-outline"></ion-icon>
          Questions
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column p-1 ps-3">
      <div class="d-flex align-items-center justify-content-between pt-1 pb-1 pe-2" style="font-size: 12px">
        <div>
          <ion-icon name="shield-outline"></ion-icon>
          Confidential privacy
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
